body {
  margin: 0;
  font-family: "Poppins";
  position: relative;
  background-color: #e2e8f0;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-btn:hover {
  background-color: #0c4a6e !important;
  transition: all ease-in-out 0.3s !important;
  color: #fff !important;
}

.cross-btn {
  border-color: #ced4da !important;
  transition: all ease-in-out 0.2s !important;
}

.cross-btn:focus {
  border-color: #ced4da !important;
}

.cross-btn:hover {
  /* background-color: #9da2a6; */
  background-color: #0284c7;
  transition: all ease-in-out 0.2s !important;
}

.cross-btn:hover i {
  color: #fff;
}

.record-block {
  position: relative;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid #0c4a6e;
  background-color: #fff;
}

.record-block i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0c4a6e;
}

.record-block:hover {
  background-color: #0c4a6e;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.record-block:hover i {
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.recording {
  background-color: #cd0000 !important;
  border-color: #cd0000;
}

.recording:hover {
  background-color: #a20000 !important;
  border-color: #a20000;
}

.recording i {
  color: #fff !important;
}

@media only screen and (max-width: 768px) {
  .home {
    width: 80%;
  }
}
